section {
    --hover-color: rgb(94, 94, 94);
}

#main {
    display: flex;
    justify-content: center;
}

#title {
    display: flex;
    justify-content: center;
    padding: 20px;
    border-bottom: 10px solid rgb(31, 31, 31);
    border-left: 10px solid rgb(31, 31, 31);
    border-right: 10px solid rgb(31, 31, 31);
    border-radius: 0 0 100px 100px;
    background-color: rgb(94, 94, 94);
    box-shadow: 0 0 5px #000000;
}

#title h1 {
    color: #c0c0c0;
    letter-spacing: 8px;
    font-size: 2vw;
}

#top-buttons {
    position: absolute;
    right: 5%;
    top: 2%;
}

button {
    border: none;
    border-radius: 10px;
    background-color: grey;
    color: white;
    font-family: monospace;
    width: 120px;
    height: 60px;
    margin-left: 10px;
    transition: 300ms;
    cursor: pointer;
}

svg {
    transition: 300ms;
}

svg:hover {
    color: #7289d9;
}

#buttons {
    position: absolute;
    top: 15vw;
    display: flex;
    flex-direction: column;
}

#buttons button {
    margin-left: 0px;
    margin-bottom: 5px;
    width: 320px;
}

button:hover {
    background-color: var(--hover-color);
}

#SettingsText {
    text-decoration: underline;
}
